@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IS';
  src: url('../../public//fonts/IRANSansWeb.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
 
}

body {
  font-family: "IS", Tahoma, Arial, sans-serif;
  direction: rtl;
  text-align: right;
}